#!/bin/bash
# 
# ~/.inputrc
#

# Change double tab to a single tab for autocomplete
set show-all-if-unmodified on

# Enable DEL key in applications
set enable-keypad on

# Ignore case at automcompletion
set completion-ignore-case on
